openapi: 3.0.0
info:
  title: Grades Service API
  version: 1.0.0
  description: API to manage student grades

paths:
  /api/grades:
    get:
      summary: get all the students grades
      responses:
        '200':
          description: grades list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nota'

  /api/grades/{id}:
    get:
      summary: get grade for id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: grade found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nota'

  /api/subject:
    get:
      summary: get the subject of the student
      responses:
        '200':
          description: subject
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nota'

  /api/finalGrade:
    get:
      summary: get the final grade
      responses:
        '200':
          description: final grade
          content:
            application/json:
              schema:
                type: number
                example: 85.5

  /api/criteria:
    get:
      summary: get the assessment criteria
      responses:
        '200':
          description: assessment criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nota'

  /api/criteria/totalPercentage:
    get:
      summary: get the total percentage of the assessment criteria
      responses:
        '200':
          description: total percentage
          content:
            application/json:
              schema:
                type: number
                example: 100

  /api/grade:
    post:
      summary: Add a new grade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                percentage:
                  type: number
                assessment_criteria:
                  type: integer
                action:
                  type: string
      responses:
        '200':
          description: Grade added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /api/edit-grade/{id}:
    put:
      summary: Edit an existing grade
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                assessment_criteria:
                  type: string
                action:
                  type: number
      responses:
        "200":
          description: change grade
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      assessment_criteria:
                        type: integer
                      action:
                        type: string

components:
  schemas:
    Nota:       
      type: object
      properties:
        id:
          type: integer
        teacher:
          type: string
        finalgrade:
          type: number
        subject:
          type: string
        assessment_criteria:
          type: integer

servers:
  - url: http://localhost:5001/api
    description: Local
